@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
}
#corazon{
	color: #d61111;
	position: absolute;
	top: 20%;
	font-size: 15em;
}
#texto{
	position: absolute;
	top: 40%;
	font-family: 'Dancing Script', cursive;
	color: white;
	font-size: 1.8em;
}